@using TravelProje.Models.Class
@model List<About>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutTravel.cshtml";
}

<div class="content">
    <div class="wrap">
        <div class="about">
            <h3>Hakkımızda</h3>

            @foreach (var m in Model)
            {
                <img src="@m.FotoUrl" alt="" />
                <p>@m.Aciklama</p>
            }

        </div>
    </div>
</div>

